.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
}

.textfield {
  width: 400px;
}

.fullheight {
  height: calc(100% - 70px);
}

.line {
  padding: 20px 0 0 0;  
}

.column {
  float: left;
  height: 100%;
}

.left {
  width: 350px;
}

.center {
  width: calc(100% - 750px);
}

.right {
  width: 400px;
}

.channelspnl {
  height: calc((100% - 60px)/2);
  margin: 20px 0 0 20px;
  padding: 10px;
}

.memberspnl {
  height: calc((100% - 20px)/2);
  margin: 20px 0 0 20px;
  padding: 10px;
}

.channelpnl {
  height: 100%;
  margin: 20px 0 0 20px;
  padding: 10px;
}

.postsPnl {
  height: calc(100% - 160px);
  margin-bottom: 20px;
  overflow-y: scroll;
}

.appheader {
  padding: 12px 0 0 35px;
}

.applogo {
  float: left;
}
.userinfo {
  text-align: right;  
}

.userinfo:after {
  content: "";
  display: table;
  clear: both;
}

.postsHdrPnl {
  margin-bottom: 10px;
}
.post {
  margin-top: 20px;
}

.authorpnl {
  float: left;
  color: darkcyan;
  font-weight: bold;;
}

.datepnl {
  font-size: 80%;
  text-align: right;
  color: darkslategrey;
  padding-right: 10px;
}

.chnamepnl {
  float: left;
  font-size: 150%;
}
.reloadpnl {
  text-align: right;
}

.reloadpnl:after {
  content: "";
  display: table;
  clear: both;
}


.messagepnl {
  clear: both;
}

.threadpnl {
  height: 100%;
  margin: 20px 20px 0 20px;
  padding: 10px;
}

.tabpanel {
  height: 100%;
}

.tabpanel:after {
  content: "";
  display: table;
  clear: both;
}